AdminManager/Service References/WcfService/ManagerServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagerServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagerServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStringSqlParam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringSqlParam" nillable="true" type="tns:StringSqlParam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStringSqlParam" nillable="true" type="tns:ArrayOfStringSqlParam" />
  <xs:complexType name="StringSqlParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParamValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringSqlParam" nillable="true" type="tns:StringSqlParam" />
</xs:schema>