AdminManager/Service References/WcfService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ManagerServer" />
  <xs:element name="Task_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q1:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q2:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskLog_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskLog_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskLog_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q3:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskLog_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q4:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskLog_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskLog_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_GetUserInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetUserAuthorityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetUserAuthorityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_GetUserAuthorityListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q5:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q6:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q7:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="getParamsResult" nillable="true" type="q8:StringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q9:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemParameter_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q10:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemParameter_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetListByWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetListByWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemParameter_GetListByWhereResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetSmallList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetSmallListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemParameter_GetSmallListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q11:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemParameter_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemParameter_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysLogResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSysLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSysLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSysLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSingleArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="fieldname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSingleArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSingleArgumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleArgument_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleArgument_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingleArgument_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q12:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Withdrawal_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Withdrawal_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Withdrawal_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q13:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Withdrawal_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q14:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q15:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q16:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q17:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetListInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetListInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_GetListInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q18:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q19:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_GetOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_GetOrderInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q20:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q21:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q22:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_DeleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_DeleteListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q23:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q24:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadItem_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadItem_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q25:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadLevelInfo_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadLevelInfo_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q26:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadLevelInfo_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q27:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadLevelInfo_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpreadLevelInfo_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpreadLevelInfo_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_DeleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_DeleteListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q28:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q29:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_DeleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_DeleteListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q30:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q31:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetProvinceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetProvinceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_GetProvinceListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_GetCityListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetBoroughList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_GetBoroughListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_GetBoroughListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q32:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logistic_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logistic_AddResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticate_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_DeleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticate_DeleteListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticate_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q33:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticate_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticate_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q34:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticate_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticate_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asset_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q35:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asset_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asset_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q36:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asset_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q37:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetLog_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetLog_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetLog_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q38:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetLog_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetLog_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q39:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_GetListByPageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_GetListByEmployeeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListByEmployeePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetListByEmployeePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_GetListByEmployeePageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ManagerServer" minOccurs="0" name="cmdParms" nillable="true" type="q40:ArrayOfStringSqlParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Task_GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Task_GetModelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>